---
import { Image } from 'astro:assets';
import impactImage from '../assets/gallinas.avif';
---

<section class="bg-white py-20">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row items-center gap-12">
      <div class="md:w-1/2">
        <Image 
          src={impactImage} 
          alt="Grandmother and granddaughter laughing together while playing on the grass" 
          class="rounded-lg shadow-xl w-full"
          width={600}
          height={400}
        />
      </div>
      <div class="md:w-1/2">
        <h2 class="text-4xl md:text-5xl font-serif font-bold text-gray-900 mb-6">
          Enfocados en el desarrollo instrial agrario
        </h2>
        <p class="text-xl text-gray-700">
          Impulsamos la industria agrícola nacional con tecnología, financiamiento y formación técnica para modernizar el campo, fortalecer cadenas agroindustriales y garantizar soberanía alimentaria bajo principios de sostenibilidad y justicia social.        </p>
      </div>
    </div>
  </div>
</section>
