---
import { GiFarmTractor } from "react-icons/gi";
import { FaCow } from "react-icons/fa6";
import { GiChicken } from "react-icons/gi";
import { LuFish } from "react-icons/lu";
import { GiHoneyJar } from "react-icons/gi";



const features = [
  { icon: GiFarmTractor, title: 'Agricultura' },
  { icon: FaCow, title: 'Ganadería' },
  { icon: GiChicken, title: 'Avicultura' },
  { icon: LuFish, title: 'Piscicultura' },
  { icon: GiHoneyJar, title: 'Apicultura' },
];

---

<section class="bg-blue-700 py-20 text-white text-center">
  <div class="container mx-auto px-4">
    <h2 class="text-4xl font-serif font-bold mb-4">Diversificación Productiva</h2>
    <p class="text-xl mb-12 max-w-2xl mx-auto">
      Promovemos un modelo agroproductivo diversificado, impulsando no solo la agricultura tradicional, sino también ramas estratégicas como la ganadería sustentable, avicultura, piscicultura y apicultura. 
    </p>

    <div class="bg-white text-blue-700 rounded-lg shadow-lg p-8">
      <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-8">
        {features.map((feature) => (
          <div class="flex flex-col items-center">
            <feature.icon className="w-16 h-16 mb-4" />
            <p class="text-sm font-semibold">{feature.title}</p>
          </div>
        ))}
      </div>
    </div>

    <p class="text-xl mt-12 mb-8 max-w-2xl mx-auto">
      Esta integración garantiza seguridad alimentaria, empleo rural y el uso eficiente de los recursos naturales.
    </p>

    <a href="/proposito" class="inline-block bg-white text-blue-700 font-bold py-3 px-8 rounded-full hover:bg-blue-100 transition duration-300">
      Descubre más
    </a>
  </div>
</section>
